<div class="row mt-2">
    <div class="col">
        <app-header-part></app-header-part>
    </div>
</div>

<br>


<div class="row">
    <div class="col-md-6">
        <mat-card>
            <h4>Storage Stats</h4>
            <div class=" row mb-3">
                <div class="col-md-6">
                    <label for="name"> Enter name </label>
                    <span> <input type="text" name="" id="" class="form-control"> </span>
                </div>
                <div class="col-md-3 mt-4">
                    <button class="btn btn-primary">Get Data</button>
                </div>
            </div>
            <div class="mb-3 mt-3">
                <app-column></app-column>
            </div>
            <div class="row mb-4">
                <div class="col ">
                    <p class="mb-3">Total Storage Quata used</p>
                    <mat-progress-bar mode="determinate" value="40" color="accent"></mat-progress-bar>
                </div>
                <div class="col">
                    <p class="mb-3">Total Pipelines Running</p>
                    <mat-progress-bar mode="determinate" value="40" color="warn"></mat-progress-bar>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="mb-3">Total Containers Running</p>
                    <mat-progress-bar mode="determinate" value="40" color="primary"></mat-progress-bar>
                </div>
                <div class="col">
                    <p class="mb-3">Total Analyasis Running Completed</p>
                    <mat-progress-bar mode="determinate" value="40" style="color: green;"></mat-progress-bar>
                </div>
            </div>
        </mat-card>
    </div>

    <div class="col-md-6 ">
        <div class=" m-5">
            <mat-card>
                <app-pie></app-pie>
            </mat-card>
        </div>
    </div>
</div>

<br>

<div class="row">
    <div class="col-md-6">
        <mat-card>
            <app-stackedbar></app-stackedbar>
        </mat-card>
    </div>
    <div class="col-md-6">
        <mat-card>
            <h4>User Timeline</h4>
        </mat-card>
    </div>
</div>

<br>